accelerate
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
asgiref
asttokens
async-timeout
attrs
backcall
beautifulsoup4
bert-extractive-summarizer
blinker
blis
breadability
bs4
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
dateparser
debugpy
decorator
demoji
diffusers
distlib
Django
docopt
docx
docx2pdf
easyocr
emoji
spacy==3.7.2
executing
filelock
Flask
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
gspread
h11
httplib2
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langcodes
lazy_loader
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mmh3
moviepy
mpmath
multidict
murmurhash
mysql-connector
mysql-connector-python
nest-asyncio
networkx
ninja
nltk
numpy
oauth2client
oauthlib
obsei
opencv-python
opencv-python-headless
outcome
packaging
pandas
parso
pickleshare
Pillow
pipreqs
platformdirs
plotly
preshed
proglog
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pyclipper
pycountry
pycparser
pydantic
pydantic_core
pydeck
pydub
Pygments
PyJWT
Pympler
PyMuPDF
pyparsing
PySocks
python-bidi
python-dateutil
python-docx
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-image
scikit-learn
scipy
seaborn
selenium
sentencepiece
shapely
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
stack-data
streamlit
summa
sumy
sympy
tenacity
textblob
thinc
threadpoolctl
tifffile
tkPDFViewer
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
tweepy
twilio
typer
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
vaderSentiment
validators
virtualenv
wasabi
watchdog
wcwidth
weasel
Werkzeug
wordcloud
wsproto
yarg
yarl
youtube-transcript-api
zipp
blinker
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
gunicorn
